<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Бюджет</title>
    <style type="text/css">
   .block {
    width: 1021px;
    background: #BCCBDA;
    margin: auto;
    padding: 20px;
    padding-right: 20px;
    border: solid 1px black;
   }
    </style>
</head>
<body>
    <div class="block">
        <div align="right"><a href="/">На главную</a></div>
        <h1>Планирование бюджета</h1>
            <div style="display: inline-block; width: 600px;">
                <h2><p>Выбран период:</p></h2>
                <p>{{ period.name }}: c {{ period.start_day }} по {{ period.end_day }}
                <a href="/period">Изменить</a>
                </p>
            </div>

            <div style="width: 400px; display: inline-block;">
                <h2><p align="right">Ваш баланс:
                    {% if total > 0 %}
                        <font color="green">
                          {{ total }}
                        </font>
                    {% elif total < 0 %}
                        <font color="#BC0202">
                          {{ total }}
                        </font>
                    {% else %}
                    0,00
                    {% endif %}
                    </p>
                </h2>
            </div>
        <hr color="orange">
        <form method = "post">
            {% csrf_token %}
            <table>
                <tr>
                    <td width="200">Дата:</td>
                    <td width="160">Сумма:</td>
                    <td width="160">Описание:</td>
                    <td width="160">Категория:</td>
                    <td width="110">Изменение:</td>
                    <td width="190"></td>
                </tr>
                <tr>
                    <td>{{ form.date }}</td>
                    <td>{{ form.sum }}</td>
                    <td>{{ form.name }}</td>
                    <td>{{ form.category }}</td>
                    <td>{{ form.change }}</td>
                    <td><input type="submit" value="Записать"></td>
                </tr>
                {% if table %}
                    {% for place in table %}
                        {% if place.change == 'Расход'%}
                            <tr style="color: #BC0202; background-color: #F2DEDE;">
                        {% else %}
                            <tr style="color: green; background-color: #E0FFDD;">
                        {% endif %}
                                <td>{{ place.date }}</td>
                                <td>{{ place.sum }}</td>
                                <td>{{ place.name }}</td>
                                <td>{{ place.category }}</td>
                                <td>{{ place.change }}</td>
                                <td>
                                    <a href="/changes/{{ place.period.id }}/{{ place.id }}/">Редактировать</a>&nbsp;|&nbsp;<a href="/changes/{{ place.period.id }}/del{{ place.id }}/">Удалить</a>
                                </td>
                            </tr>
                    {% endfor %}
                {% endif %}

            </table>
        </form>
    </div>
</body>
</html>
