<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Первый проект</title>
    <style type="text/css">
   .block {
    width: 1021px;
    background: #BCCBDA;
    margin: auto;
    padding: 20px;
    padding-right: 20px;
    border: solid 1px black;
   }
    </style>
</head>
<body>
    <div class="block">
        <h2>Добро пожаловать на мой первый проект мини web приложения.</h2>
        <h3>Краткие сведения о проекте:</h3>
        <p>Данный проект предназначен для демонстрации уровня знакомства с фреймворком Django:)</p>
        <p>Для реализации проекта использовался следующий стек технологий:
            Python, Django, немного DRF, и самая малость HTML и CSS :)</p>
        <p>В качестве IDE использовался PyCharm Edu</p>
        <p>Фронтенд (если данное слово применимо к данному проету:)) выполнен средствами шаблонизатора Django</p>
        <p>Ориентировочные затраты на разработку составили - 18 человеко-часов (работа выполнялась в отпуске по вечерам)</p>
        <h3>Зачем нужно приложение (идея):</h3>
        <p>Приложение призвано помочь вести учет бюджета в указанный период путем указания доходов и трат.
            Приложение можно использовать для планирования месячного бюджета.
            Возможные улучшения функциональности: добавить функционал регистрации/вхоа/выхода пользователя
            (просто не успел),реализовать качественный интерфейс, добавить отчёты,
            визуализацию отчетов, добавить возможность выгрузки данных в форматы EXCEL и PDF и мн. другое.</p>
        <h3>Реализованный функционал (кратко):</h3>
        <ul>
            <li>Создание периодов</li>
            <li>Создание записей внутри периода</li>
            <li>Редактирование записей внутри периода</li>
            <li>Удаление записей внутри периода</li>
        </ul>
        <p>Стартануть проект можно вот по этой ссылке -> <a href="period">СТАРТ :)</a> </p>
        <p>Апи реализован в самом минимальном виде:</p>
        <p>Апишечка для передачи периодов -> <a href="/api/get_periods"> API get_period :)</a> </p>
        <p>Апишечка для передачи всех записей (изменений) -> <a href="/api/get_changes_all"> API get_changes :)</a> </p>
        <p>Глянуть на исходнички с избыточным количеством комментариев можно тута ->
            <a href="https://github.com/Romantano/first_proj"> GitHub :)</a> </p>
    </div>
</body>
</html>
